@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

	.shinygrey-hero{
		text-shadow: 0 0 3px white;
		background: rgba(255,255,255,0.2);

		border-radius: 20px;

		padding: 0.5em;
	}

	.shinygrey-tag-cad{
		@apply sgt-text-sgdark;
		@apply sgt-border-2;
		@apply sgt-border-dotted;
		@apply sgt-border-sgdark;
		@apply sgt-rounded-md;
		@apply sgt-italic;
		@apply sgt-p-1;
		@apply sgt-inline-block;
		@apply sgt-uppercase;
	}

	.shinygrey-tag-blog{
		@apply sgt-font-serif;
		@apply sgt-not-italic;
	}

	.shinygrey-tag-code:before{content: "\007B";}
	.shinygrey-tag-code{
		@apply sgt-font-mono;
		@apply sgt-not-italic;
	}
	.shinygrey-tag-code:after{content: "\007D";}

	.wp-block-columns{
		@apply sgt-flex;
	}

	.wp-block-column{
		@apply sgt-flex-grow;
	}

	.has-text-align-center{
		@apply sgt-text-center;
	}

	.wp-block-latest-posts{
		@apply sgt-list-none;
	}

	.wp-block-latest-posts>li{
		@apply sgt-border-sgdark;
		@apply sgt-rounded-md;
	}

	.wp-block-latest-posts>li>a{
		@apply sgt-text-sgdark;
		@apply sgt-text-3xl;
	}

	.blocks-gallery-grid{
		@apply sgt-list-none;
		@apply sgt-flex;
		@apply sgt-flex-wrap;
	}

	.sgc-width-inherit{
		width: inherit;
	}

	nav a{
		text-shadow: 1px 1px 2px black, 0 0 1em white, 0 0 0.2em #666f7c;
		font-size: 22px;
		vertical-align: middle!important;
	}

	#nav-bar-main{
		height: 60px;
		-webkit-transition: height .35s ease;
		transition: height .35s ease;
	}

	#nav-bar-main.active{
		height: 50%;
	}

	#nav-bar-main a:hover{
		text-shadow: 1px 1px 2px black, 0 0 0.5em white, 0 0 0.2em #CfDEF5;
		color: #666f7c;
		font-size: 22px;
	}

	a.sgc-nav-link{
		height: 60px;
		@apply sgt-no-underline;
	}

	a.sgc-nav-link:hover, a.sgc-nav-link.active{
		background-color: #fff;
		text-decoration-style:none;
		@apply sgt-no-underline;
	}

	#nav-bar-main > ul > li{
		height: 60px;
	}

	#nav-bar-main.active > ul > li{@apply sgt-visible;}
	#nav-bar-main.active > ul > li > a > span{opacity: 1;}

	.sgc-home-link{width:82px;}

	button.shinygrey-nav-toggle {
		position: relative;
		background-color: transparent;
		padding: 0;
		height: 60px;
		width: 60px;
		cursor: pointer;
		z-index: 9999;
		-webkit-transition: opacity .25s ease;
		transition: opacity .25s ease;
	}

	button.shinygrey-nav-toggle>span {
		color: inherit;
		background-color: currentColor;
		border: none;
		right: 5%;
		margin: 0 10%;
		height: 5%;
		width: 70%;
		position: absolute;
		-webkit-transition: all .35s ease;
		transition: all .35s ease;
		cursor: pointer;
	}

	button.shinygrey-nav-toggle>span:first-child{top: 14px;}
	button.shinygrey-nav-toggle>span:nth-child(2){top: 26px;}
	button.shinygrey-nav-toggle>span:last-child{top: 38px;}

	button.shinygrey-nav-toggle.active>span:first-child{
		-webkit-transform: translateY(12px) translateX(0) rotate(45deg);
		transform: translateY(12px) translateX(0) rotate(45deg);
		background: currentColor;
	}
	button.shinygrey-nav-toggle.active>span:nth-child(2){
		opacity: 0;
		background: currentColor;
	}
	button.shinygrey-nav-toggle.active>span:last-child{
		-webkit-transform: translateY(-12px) translateX(0) rotate(-45deg);
		transform: translateY(-12px) translateX(0) rotate(-45deg);
		background: currentColor;
	}

	body{
		height: 100%;
		overflow-y: auto;
		overflow-x: hidden;
		/* font-family:'Raleway',sans-serif; 'Noto Sans', sans-serif;*/
	}
	/*h1,h2,h3,h4,h5,h6{font-family:'Ubuntu',sans-serif;}*/
	
	.shinygreycolours, nav,#sitebanner,#servicessection,#webdevelopment,#portfoliosection{
		color: #CfDEF5;
		background-color: #666f7c;
		background-image: linear-gradient(to bottom right, #666f7c, black);
	}

	.shinycard-deck {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	@media (min-width: 768px){
		.shinycard-deck {
			-ms-flex-flow: row wrap;
			flex-flow: row wrap;
		}
		.shinycard-deck>.card {
			display: -ms-flexbox;
			display: flex;
			-ms-flex: 1 0 26%;
			flex: 1 0 25%;
			max-width: 25%;
			-ms-flex-direction: column;
			flex-direction: column;
			margin-right: 15px;
			margin-bottom: 1em;
			margin-left: 15px;
		}
	}

	@media (min-width: 992px){
		.shinycard-deck {
			-ms-flex-flow: row wrap;
			flex-flow: row wrap;
		}
		.shinycard-deck>.card {
			display: -ms-flexbox;
			display: flex;
			-ms-flex: 1 0 0%;
			flex: 1 0 0%;
			-ms-flex-direction: column;
			flex-direction: column;
			margin-right: 15px;
			margin-bottom: 1em;
			margin-left: 15px;
		}
	}

	@media (min-width: 576px){.card-columns {column-count: 2;}}
	@media (min-width: 768px){.card-columns {column-count: 3;}}
	@media (min-width: 992px){.card-columns {column-count: 3;}}

	.card-text,.card-title,.card-link{color: #000000;}

	a:link,a:visited,a:active{color:inherit;}
	a:hover{
		color:inherit;
		text-decoration:underline;
		text-decoration-style:dotted;
	}
	a:not(.sgc-nav-link){
		@apply sgt-text-sgdark;
		@apply sgt-font-medium;
	}

	.sg-size .card-img{font-size: 6em;}
	.sg-size h5{font-size: 1.25rem;}
	@media(min-width: 576px){
		.sg-size .card-img{font-size: 4em;}
		.sg-size h5{font-size: 1rem;}
	}
	@media(min-width: 768px){
		.sg-size .card-img{font-size: 6em;}
		.sg-size h5{font-size: 1.25rem;}
	}
	@media(min-width: 992px){}
	@media(min-width: 1200px){}
	
	.fa-2x{vertical-align:middle;}
	.fa-4x{margin-bottom:0.5rem;}

	body::-webkit-scrollbar{
		/* must be present to enable scroll bar */
	}

	body::-webkit-scrollbar-thumb{
		background:-webkit-gradient(linear,left top,left bottom,from(#666f7c),to(#CfDEF5));background:linear-gradient(to bottom,#666f7c,#CfDEF5);
		border-radius:30px;
		-webkit-box-shadow:inset 2px 2px 2px rgba(255,255,255,.25),inset -2px -2px 2px rgba(0,0,0,.25);
		box-shadow:inset 2px 2px 2px rgba(255,255,255,.25),inset -2px -2px 2px rgba(0,0,0,.25)
	}

	body::-webkit-scrollbar-track{
		box-shadow: 1px 1px 1px 1px  rgba(255,255,255,0.3) inset;
		-webkit-box-shadow: 1px 1px 1px 1px  rgba(255,255,255,0.3) inset;
		background: black;
	}

	footer svg{
		height: 2em;
	}

	main{
		width: 100%;
		padding-right: 15px;
		padding-left: 15px;
		margin-right: auto;
		margin-left: auto;
		padding-top: 3rem;
		margin-top: 1.5rem;
	}

	svg.home{
		display: inline-block;
		overflow: visible;
		width: 1.125em;
		vertical-align: middle;
		font-size: 2em;
		height: 1em;
	}

	footer svg{
		display: inline-block;
		vertical-align: middle;
		font-size: 2em;
		width: 1.25em;
		height: 1em;
		@apply sgt-text-black;
	}

	footer button{
		background-color: inherit;
		outline: none;
		border: none;
	}
}
